In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

In [46]:
# Read in the data
df = pd.read_pickle('df_persons_wsltur_with_entropy_19_12.pkl')
# df_orig = pd.read_dataframe('df_persons_wsltur_with_entropy6.pkl')

In [47]:
df.columns

Index(['Original_Index', 'Log_income', 'Household_size', 'Q14_12', 'Q8',
       'Medium_number', 'Small_number', 'Off_road_number', 'Luxury_number',
       'Van_number', 'Distance_to_scotiabank_tower', 'Number_cars', 'Gasoline',
       'Residential_underground_number', 'Garage_number', 'Surface_lot_number',
       'Residential_on_street_number', 'Indoor_public_number',
       'Parking_cost_per_slot', 'Distance_to_closest_subway_station',
       'Length_of_cycle_lanes_within_radius',
       'Distance_to_closest_bus_station', 'Number_cars_level',
       'Log_distance_to_scotia_plaza', 'Car_driver_mode_share',
       'Car_passenger_mode_share', 'Public_transit_mode_share',
       'Walk_mode_share', 'Bike_mode_share', 'Log_median_rent',
       'Log_average_rent', 'Log_median_mortgage', 'Log_average_mortgage',
       'Apartment percentage', 'Median_year', 'Popn_density',
       'Medium_number_restricted', 'Small_number_restricted',
       'Off_road_number_restricted', 'Luxury_number_restricted',
       'Van_number_restricted', 'LocationLongitude', 'LocationLatitude',
       'distance_nearest_mall', 'distance_nearest_supermarket',
       'distance_nearest_convenience', 'distance_nearest_outdoor_shop',
       'distance_nearest_kiosk', 'distance_nearest_greengrocer',
       'distance_nearest_butcher', 'distance_nearest_hospital',
       'distance_nearest_clinic', 'distance_nearest_doctors',
       'distance_nearest_fast_food', 'distance_nearest_restaurant',
       'distance_nearest_cafe', 'distance_nearest_pub', 'distance_nearest_bar',
       'distance_nearest_food_court', 'distance_nearest_golf_course',
       'distance_nearest_pitch', 'distance_nearest_park',
       'distance_nearest_playground', 'distance_nearest_dog_park',
       'distance_nearest_ice_rink', 'distance_nearest_swimming_pool',
       'distance_nearest_sports_centre', 'distance_nearest_school',
       'distance_nearest_university', 'distance_nearest_college',
       'distance_nearest_kindergarten', 'distance_nearest_community_centre',
       'distance_nearest_stadium', 'distance_nearest_attraction',
       'distance_nearest_theatre', 'distance_nearest_cinema',
       'distance_nearest_museum', 'distance_nearest_arts_centre',
       'distance_nearest_library', 'distance_nearest_hairdresser',
       'distance_nearest_bank', 'distance_nearest_atm', 'Shopping_distance',
       'Health_distance', 'Restaurants_distance', 'Exercise_distance',
       'Entertainment_distance', 'Cultural_distance', 'pc1', 'pc2', 'pc3',
       'pc4', 'pc5', 'pc6', 'pc7', 'pc8', 'geometry', 'entropy', 'buffer',
       'num_pois_within_radius'],
      dtype='object')

In [12]:
df_orig = pd.read_excel(r'C:\Users\mwendwa.kiko\Documents\Personal_Kiko\Old_UofT\Research\Roschlau Fellowship\THATS Survey Outputs\1. Collected Data\Sign-Up and Daily Surveys\Sign-Up Survey_September 1_modified.xlsx')

In [13]:
df_orig.rename(columns={'Q3_11': 'Household_size', 'Q43.1': 'Number_cars'}, inplace=True)

Number of children

In [23]:
df_orig['Children_in_elementary'] = df_orig.loc[:, 'Q105':'Q115'].apply(
    lambda row: row.str.contains('Kindergarten to Grade 6').sum(), axis=1)
df_orig['Children_in_elementary'].value_counts()

0    4370
1     268
2     124
3      16
4       1
Name: Children_in_elementary, dtype: int64

In [19]:
df_orig['Children_in_middle_school'] = df_orig.loc[:, 'Q105':'Q115'].apply(
    lambda row: row.str.contains('Grades 7 to 8').sum(), axis=1)
df_orig['Children_in_middle_school'].value_counts()

0    4658
1     117
2       4
Name: Children_in_middle_school, dtype: int64

In [20]:
df_orig['Children_in_high_school'] = df_orig.loc[:, 'Q105':'Q115'].apply(
    lambda row: row.str.contains('Grades 9 to 12').sum(), axis=1)
df_orig['Children_in_high_school'].value_counts()

0    4562
1     191
2      24
3       2
Name: Children_in_high_school, dtype: int64

In [24]:
df_orig['Minor_children_total'] = (df_orig['Children_in_preschool'] + df_orig['Children_in_elementary'] 
                                   + df_orig['Children_in_middle_school'] + df_orig['Children_in_high_school'])

Licenced Adults

In [25]:
df_orig['Q116'].value_counts()

Yes    2847
No      347
Name: Q116, dtype: int64

In [26]:
df_orig['Licensed_adults'] = df_orig.loc[:, 'Q116':'Q126'].apply(
    lambda row: row.str.contains('Yes').sum(), axis=1)
df_orig['Licensed_adults'].value_counts()

0    1789
2    1614
1    1057
3     226
4      76
5      13
8       2
6       2
Name: Licensed_adults, dtype: int64

Race

In [27]:
df_orig['Family_white'] = df_orig.loc[:, 'Q14_1':'Q14_11'].apply(
    lambda row: row.str.contains('White').all(), axis=1)
df_orig['Family_white'].value_counts()

False    2702
True     2077
Name: Family_white, dtype: int64

Number of Employed

In [29]:
df_orig['Number_employed_full_time'] = df_orig.loc[:, 'Q28':'Q38'].apply(
    lambda row: row.str.contains('Employed (Full-time)', regex=False).sum(), axis=1)
df_orig['Number_employed_full_time'].value_counts()

0    2354
1    1277
2    1064
3      70
4      13
8       1
Name: Number_employed_full_time, dtype: int64

In [30]:
df_orig['Number_employed_part_time'] = df_orig.loc[:, 'Q28':'Q38'].apply(
    lambda row: row.str.contains('Employed (Part-time)', regex=False).sum(), axis=1)
df_orig['Number_employed_part_time'].value_counts()

0    4311
1     402
2      56
3       8
5       1
4       1
Name: Number_employed_part_time, dtype: int64

In [36]:
df_orig['Number_unemployed'] = df_orig.loc[:, 'Q28':'Q38'].apply(
    lambda row: row.str.contains('Not employed (or retired)', regex=False).sum(), axis=1)
df_orig['Number_unemployed'].value_counts()

0    3669
1     694
2     365
3      43
4       7
5       1
Name: Number_unemployed, dtype: int64

In [32]:
df_orig['Number_fixed_location'] = df_orig.loc[:, 'Q50':'Q60'].apply(
    lambda row: row.str.contains('Fixed location (outside home) and telework some days', regex=False).sum(), axis=1)
df_orig['Number_fixed_location'].value_counts()

0    3281
1    1107
2     374
3      17
Name: Number_fixed_location, dtype: int64

In [34]:
df_orig['Number_telework'] = df_orig.loc[:, 'Q50':'Q60'].apply(
    lambda row: row.str.contains('Work ONLY at home (telework)', regex=False).sum(), axis=1)
df_orig['Number_telework'].value_counts()

0    3884
1     769
2     120
3       6
Name: Number_telework, dtype: int64

In [35]:
df_orig['Number_no_fixed_location'] = df_orig.loc[:, 'Q50':'Q60'].apply(
    lambda row: row.str.contains('Donâ€™t have a fixed place of work (e.g., taxi driver, salesman)', regex=False).sum(), axis=1)
df_orig['Number_no_fixed_location'].value_counts()

0    4664
1     106
2       8
3       1
Name: Number_no_fixed_location, dtype: int64

Type of home

In [38]:
df_orig['Own_home'] = df_orig['Q1-2'].isin(['I own my home and pay a mortgage', 'I own my home and have paid it off fully'])
# Convert 'Own_home' to binary
df_orig['Own_home'] = df_orig['Own_home'].astype(int)

df_orig['Own_home'].value_counts()

0    2570
1    2209
Name: Own_home, dtype: int64

In [40]:
df_orig['Shared_apartment'] = df_orig['Q1-2'].isin(['I share rent with a roommate(s)'])
# Convert 'Own_home' to binary
df_orig['Shared_apartment'] = df_orig['Shared_apartment'].astype(int)

df_orig['Shared_apartment'].value_counts()

0    4661
1     118
Name: Shared_apartment, dtype: int64

In [42]:
df_orig['Live_in_apartment'] = df_orig['Q1'].isin(['Apartment/Condo building that has 5+ stories', 
                                                     'Apartment/Condo building that has up to 4 stories'])
# Convert 'Live_in_apartment' to binary
df_orig['Live_in_apartment'] = df_orig['Live_in_apartment'].astype(int)

df_orig['Live_in_apartment'].value_counts()

0    3395
1    1384
Name: Live_in_apartment, dtype: int64

In [50]:
merged_df = df.merge(df_orig[['Children_in_elementary', 'Children_in_middle_school', 
                              'Children_in_high_school', 'Minor_children_total', 'Licensed_adults', 
                              'Family_white', 'Number_employed_full_time', 'Number_employed_part_time', 
                              'Number_unemployed', 'Number_fixed_location', 'Number_telework', 
                              'Number_no_fixed_location', 'Own_home', 'Shared_apartment', 
                              'Live_in_apartment']], right_index=True
                     , left_on='Original_Index', how='left')

In [51]:
# Pickle the merged dataframe
merged_df.to_pickle('df_persons_wsltur_with_entropy_socio_eco.pkl')

In [52]:
merged_df.shape

(2895, 115)

In [53]:
# Correlation between household size and the number of children
merged_df['Household_size'].corr(merged_df[['Minor_children_total', 'Children_in_elementary', 'Children_in_middle_school', 
                              'Children_in_high_school', 'Licensed_adults', 'Number_employed_full_time',
                                            'Number_employed_part_time', 'Number_unemployed', 'Number_fixed_location',
                                            'Number_telework', 'Number_no_fixed_location', 'Own_home', 'Shared_apartment',]])

ValueError: operands could not be broadcast together with shapes (2895,) (2895,13)